PhotoStore/build/
*.class
PhotoStore/build/built-jar.properties
*.jar
PhotoStore/nbproject/private/
PhotoStore/build/built-jar.properties
/PhotoStore/dist/
!/PhotoStore/lib/mysql-connector-java-5.1.38-bin.jar
!/PhotoStore/lib/mlibwrapper_jai.jar
!/PhotoStore/lib/jai_core.jar
!/PhotoStore/lib/jai_codec.jar
!/PhotoStore/lib/sqlite-jdbc-3.8.11.2.jar
!/PhotoStore/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
PhotoStore/save.dat
*.data